header{
    display: flex;
    justify-content: space-between;
    background-color: #10ac84;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

header img{
    width: 60px;
    height: 60px;
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    background-color: #576574;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    
}

.button{
    display: inline-block;
    background-color: #576574;
    box-shadow: 5px 5px black;
    padding: 18px 20px;
    margin: 0px;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
}

.button:hover{
    transform: scale(1.08);
}

h1{
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: #10ac84;
}

